.header{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul >li{
    padding: 10px;
}
.logo{
    width: 100px;
}
.card{
    border:1px solid black;
    width: 300px;
    padding: 10px;
    margin: 10px;
}
.card >img {
    width: 100%;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}

